<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Martin & Petra Summer Fun</title>
<link href="style.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Hanalei+Fill" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="http://icons.iconarchive.com/icons/dapino/beach/256/sun-umbrella-icon.png" rel="shortcut icon" type="image/png">
</head>
<body>
	<header class="navy">
	<ul><a href= "./index.html" role="button"> Martin & Petra Summer Fun</a></ul>
	<ul><a href= "./images.html" role="button">Gallery</a></ul>
	</header>
	<div class = "balaton">
	<h1><strong>2018 <a href="http://hellosiofok.hu/">Siófok</a></strong></h1>
	<div class="balaton_text">
	<p class="firstday">Idei első nyaralásunk egy rövid siófoki kiruccanás volt, mert mind a ketten imádjuk a balatont,
	 és ezidáig nem sikerült ebben az évben közösen eljutnunk. Nagyon vártuk már, hogy ketten legyünk a balaton partján.
	 Jártunk a <a href= http://hintalo-etterem-siofok.hu/>Hintaló étterem</a>ben, ahol Petra ismét nem tudott ellenállni a fűszervajjal lelocsolt steaknek, én pedig szokásosan csülköt vacsoráztam.
	Ezután kiültünk a balaton partjára sörözgetni,
	 mivel Prágai csopikiri óta Petra is szereti a <a href="https://hu.wikipedia.org/wiki/S%C3%B6r">SÖR</a>t</p>
	<p class="secondday">Második napon délelőtt lementünk a Balaton partjára süttetni a hasunkat, és nem csinálni semmit. A sok munka után már édes volt a pihenés. 
	Ebéd tájékán elmentünk venni egy sajtos, tejfölös lángost és egy főtt kukoricát. Délután megnéztük a Plázs nevű helyet ahová sokan járnak, de nem tetszett,
	mert drága, nincs árnyék és ilyen <a href= "https://kepes-hangos-angolszotar.hu/fancy">fancy</a> hely.</p>
	<p class="thirdday">
	At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium 
	voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati 
	cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi,
	 id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
	 Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,
	  omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum 
	  necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. 
	  Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur
	   aut perferendis doloribus asperiores repellat
	</p>
	<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment,
	 so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through 
	 weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour,
	  when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. 
	  But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
	  The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, 
	  or else he endures pains to avoid worse pains</p>
	  <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment,
	 so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through 
	 weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour,
	  when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. 
	  But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
	  The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, 
	  or else he endures pains to avoid worse pains</p>
	  <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment,
	 so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through 
	 weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour,
	  when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. 
	  But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
	  The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, 
	  or else he endures pains to avoid worse pains</p>
	  <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment,
	 so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through 
	 weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour,
	  when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. 
	  But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
	  The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, 
	  or else he endures pains to avoid worse pains</p>
	  <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment,
	 so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through 
	 weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour,
	  when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. 
	  But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. 
	  The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, 
	  or else he endures pains to avoid worse pains</p>
	</div>
	</div>
	
</body>
<footer>
<h3>Thanks for your visit! All right reserved!</h3>
<h4>PrograMartin</h4>
</footer>
</html>